<div class="container">
	<div class="row">
		<div style="float: left;">
			<h1 style="display: inline-block;"><%= @spot.title %> </h1>
			<h1 style="display: inline-block;"><%= link_to like_spot_path(@spot), method: :put do %><i style="margin-left: 5px;" class="fa fa-thumbs-o-up"></i><% end %></h1>
		</div>

		<h2 style="display: inline-block; float: right;"><small><i class="fa fa-map-marker"></i>&nbsp; <%= @spot.address %></small></h2>
		<div class="clearfix"></div>

		<div class="small-9 columns">
			<p class="subheader"><%= @spot.tip %></p>
		</div>
		<div class="small-3 columns" style="text-align: right; float: right;">
			<ul style="text-align: right;" >
				<% @users.each do |u| %>
				<% if u.username == @spot.created_by %>
				<p class="subheader">Added by:<br/><%= link_to @spot.created_by, user_path(u) %></p>&nbsp; 
				<% end %>
				<% end %>

				<ul class="no-bullet subheader">

					<li style="display: inline-block;">Liked by:</li>
					<% @spot.votes_for.voters.each do |s| %>
					<% @users.each do |u| %>
					<% if s.username == u.username %>
					<ul class="no-bullet">
						<li class="inline-list"><%= link_to s.username, user_path(u) %></li>
					</ul>
					<% end %>
					<% end %>
					<% end %>
				</ul>
			</ul>
		</div>
	</div>
</div>

