<div class="container">

<h1><%= @spot.title %></h1>

<p><%= @spot.tip %></p>

<p><%= @spot.address %></p>

<% @users.each do |u| %>
	<% if u.username == @spot.created_by %>
		<p>Added by: <%= link_to @spot.created_by, user_path(u) %></p>
	<% end %>
<% end %>

<p>Liked by:</p>
<ul>
	<% @spot.votes_for.voters.each do |s| %>
		<% @users.each do |u| %>
			<% if s.username == u.username %>
				<li><%= link_to s.username, user_path(u) %></li>
			<% end %>
		<% end %>
	<% end %>
</ul>

<p><%= @spot.get_likes.size %> <%= link_to like_spot_path(@spot), method: :put do %>Like<% end %></p>

</div>